
server {
    listen        ${NGINX_PORT};

    error_page    500 502 503 504  /50x.html;

    location      / {
        root      /usr/share/nginx/html;
    }

    location      /api {
        proxy_pass  http://api:8000/;
    }

}